/* Header Nav Menu */
.et_pb_fullwidth_menu .et_pb_row {
	width: 90%;
	max-width: 1500px;
}

@media (min-width: 767px) {
	.cust-mega-menu .sub-menu {
		display: flex;
		min-height: 219px;
		flex-direction: column;
		padding-bottom: 60px !important;
	}

	.cust-mega-menu .sub-menu > li {
		width: auto !important;
	}

	.et-menu-nav li.mega-menu ul li {
		float: unset !important;
	}

	.cust-mega-menu .sub-menu li:has(img) {
		position: absolute;
		top: 0;
		right: 0;
		margin-top: 0px !important;
	}

	.cust-mega-menu-imgs > a {
		display: flex;
		gap: 10px;
		pointer-events: none;
	}

	.et-menu-nav li.mega-menu li.cust-mega-menu-imgs > a {
		width: auto !important;
	}

	.cust-mega-menu-imgs img {
		width: 150px;
		height: 200px;
		object-fit: cover;
	}

	.et-menu-nav li.cust-mega-menu li > a {
		width: max-content !important;
		border-bottom: 0 !important;
	}

	.menu-with-images .sub-menu {
		width: auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	#global-header-section .et_pb_fullwidth_menu > .et_pb_row {
		gap: 200px;
	}

	.dropdown-menu-img img {
		height: 106px;
		object-fit: cover;
		display: block;
	}
}

@media (max-width: 767px) {
	.dropdown-menu-img img {
		display: none;
	}

	.cust-mega-menu .sub-menu li:has(img) {
		display: none;
	}

	#global-header-section .et_pb_menu__wrap {
		justify-content: flex-end;
	}
}

/* Footer Menu */
#footer-menu #menu-footer-menu {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

@media (max-width: 980px) {
	/*open the mobile menu up and use on all devices*/
	.et-db #et-boc .et-l #footer-menu .et_pb_menu__menu {
		display: block;
	}
	/*hide the hamburger icon*/
	.et-db #et-boc .et-l #footer-menu .et_mobile_nav_menu {
		display: none;
	}

	#footer-menu #menu-footer-menu {
		display: block;
	}

	#footer-menu .et_pb_menu__wrap {
		justify-content: flex-start;
	}
}

/* Globals */
/* Image */
.image-pad img {
	padding: 5px;
}

/* Text */
.two-liner {
	display: inline-flex;
	flex-direction: column;
	gap: 20px;
}

.two-liner span {
	background-color: white;
	padding-inline: 20px;
	padding-block: 5px;
}

.smaller-heading {
	font-size: 20px;
}

/* Homepage */
/* Hero Slider */
#homepage-slider .et_pb_slide_2,
#homepage-slider .et_pb_slide_0 {
	padding-inline: 0;
}

#homepage-slider .et_pb_slide_2 .et_pb_slide_content p,
#homepage-slider .et_pb_slide_0 .et_pb_slide_content p {
	display: inline-block;
	background-color: white;
	padding-bottom: 0;
	padding-inline: 20px;
}

#homepage-slider .et_pb_slider_container_inner {
	vertical-align: bottom;
}

#homepage-slider .et_pb_slide_description {
	padding: 0;
}

/* First slide */
#homepage-slider .et_pb_slide_0 .et_pb_slide_title {
	padding-bottom: 0;
	padding-right: 30px;
}

#homepage-slider .et_pb_slide_0 .et_pb_slide_content {
	transform: translateY(-100px);
}

/* Second slide */
#homepage-slider .et_pb_slide_1 .et_pb_slider_container_inner {
	vertical-align: middle;
}

/* Third Slide */
#homepage-slider .et_pb_slide_2 .et_pb_slide_content {
	transform: translateY(-70px);
}

/* Testimonial Slider */
@media (max-width: 767px) {
	#testimonial-slider > .et_pb_slides {
		width: 90%;
		margin-inline: auto;
	}

	#homepage-slider .et_pb_slide_0 .et_pb_slide_title {
		transform: translateY(50px);
	}

	#homepage-slider .et_pb_slide_1 .et_pb_slide_content {
		transform: translate(10px, 98px);
	}
}

/* The Art page */
.collection-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}

.img-with-border {
	padding: 5px;
	border: 3px solid #c69c6d;
	aspect-ratio: 1;
	object-fit: cover;
}

.collection-item {
	display: none;
}

.collection-item.centered {
	text-align: center;
}

.collection-item p {
	padding-bottom: 0;
}

.collection-item.centered strong {
	font-size: 16px;
}

.button-loadmore {
	margin-top: 30px;
	display: block;
	cursor: pointer;
	margin-inline: auto;
	border: none;
	background-color: transparent;
	font-family: inherit;
	text-transform: uppercase;
	color: #c1272d;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.multi-image {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}

@media (min-width: 768px) {
	.artwork-img-full {
		width: 100%;
		height: auto;
	}
}

@media (max-width: 767px) {
	.multi-image {
		grid-template-columns: 1fr;
	}
}

.single-item {
	margin-bottom: 30px;
}

.fancyboxLauncher {
	cursor: pointer;
	position: relative;
	display: block;
	inset: 0;
}

.priv-comm .multi-image {
	position: relative;
	inset: 0;
}

.fancyboxLauncher > img {
	display: block;
	margin-bottom: 5px;
}

.fancyboxLauncher::after,
.priv-comm .multi-image::after {
	content: '';
	position: absolute;
	inset: 0;
	display: block;
	opacity: 0;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA90lEQVR4nO2TS4rCUBBFM9d2pG7Hzw5s3EoTHDRGnbgbpV2Hn52kjU71SOENBEF5FZWWxgsPEnJfnaJSN4r+pYAmMAHWwF5nBYyBxr3F+0DGdW2Bz3uKH1VoBrSAik4bmOvbAeiVGUve+dcNXyzPL1D3ACZ55wHeH3lHHsBGl1oB3o68Kw9gp0vVAO+HvJkHkDkAtTIA23lTO8DbLTMiC5FpHuBdyJt4AA2FyBTf8A3kSd2ptoQqRGgVO/ZPdLqFzk3fruIFSE8huqbUihfekzKQuoUIWGp993oe5WO5gPohAU3EF5DpG/JS4xo+HBCdIclTNupPdQLXKBYWEeCEJgAAAABJRU5ErkJggg==');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: hsla(295, 74%, 16%, 0.58);
	transition: all 0.3s ease;
}

.fancyboxLauncher:hover:after,
.priv-comm .multi-image:hover::after {
	opacity: 1;
}

.fancybox-infobar {
	font-size: 20px !important;
	font-family: 'Open Sans', Arial, sans-serif !important;
}

.fancybox-caption {
	background: none !important;
	text-align: left !important;
	font-size: 16px !important;
}

.fancybox-caption p {
	display: inline-block;
	font-style: italic;
	font-weight: 600;
	background-color: white !important;
	padding: 5px !important;
	color: black !important;
}

@media (min-width: 767px) {
	.comm-text {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.brief {
		justify-self: flex-end;
	}
}

.fancybox-slide--html .fancybox-content {
	max-width: 800px;
	color: #000;
}

.fancybox-slide--html .fancybox-content p {
	font-size: 18px;
}

.wpcf7-mail-sent-ok {
	display: none;
}

.et_mobile_menu > .menu-item > a {
	font-weight: 700;
	background-color: rgba(0, 0, 0, 0.03);
}

/* Gallery Page */
.gallery-wrapper {
	margin-inline: auto;
}

.gallery-item a {
	width: 100%;
}

.gallery-block {
	margin-bottom: 60px;
}

.gallery-block h2 {
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
}

.gallery-swiper {
	overflow: hidden;
}

.gallery-img {
	height: 500px !important;
	width: auto !important;
	max-width: unset;
	display: block;
}

@media (max-width: 768px) {
	.gallery-block {
		margin-bottom: 30px;
	}

	.gallery-img {
		height: 400px !important;
	}

	.gallery-block h2 {
		font-size: 16px;
		margin-bottom: 12px;
	}
}
