/*change nav icon to X*/
.mobile_nav.opened .mobile_menu_bar:before {
	content: '\4d';
}

/* Hide overflow caused by moving mobile nav menu offscreen. */
body {
	overflow-x: hidden;
}

/* styling for mobile menu */
#mobile_menu1 {
	display: block !important;
	height: 100vh !important;
	top: 0;
	right: 0;
	bottom: 0;
	left: 20%;
	position: fixed;
	overflow: auto;
	padding-top: 72px;
	padding-right: 100px;
	z-index: 999;
	transition: transform 0.4s 0s;
	-overflow-scrolling: touch !important;
	-webkit-overflow-scrolling: touch !important;
}

#mobile_menu1 li a {
	margin-bottom: 6px;
}

#mobile_menu1 li a {
	border-bottom-color: #e1e3e8 !important;
}

/* Move the mobile menu fully off the screen when closed and set a fix height to avoid the dropdown animation */
.mobile_nav.closed #mobile_menu1 {
	height: 100vh !important;
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
}

/* Move the mobile menu back onto the screen when open */
.mobile_nav.opened #mobile_menu1 {
	height: 100vh !important;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

.mobile_nav.opened .mobile_menu_bar {
	display: block;
	z-index: 1000;
}

#mobile_menu1::before {
	display: none;
}

.navbar-transparent .mobile_nav.closed .mobile_menu_bar {
	background-color: #337abe;
	border-radius: 50%;
	padding-bottom: 2px;
}
